.sertificate{
    /* height: 100vh; */
    padding: var(--space-size);
    min-width: 320px;
    background-color: var(--color-main);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  top;
    color: var(--color-light);
}
.sertif{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-bottom: 3rem;
    justify-content: space-around;
    line-height: 1.23;
}
.sertif picture{
    margin-bottom: 0.8rem;
}
.sertif-reg h2{
    font-size: 22px;
    margin-bottom: 1rem  ;
}
.sertif-reg{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 200px;
}
.sertif-reg input{
    padding: 13px 0;
    padding-left: 1rem;
    border-radius: 70px;
    margin-bottom: 1.3rem;
}
.sertif-reg ::placeholder{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
.reg-btn{
    min-width: 200px;
    padding: 10px 0;
    border-radius: 70px;
    border-color: #FFFFFF;
    margin-bottom: 1.5rem;
    background-color: var(--color-main);
    color: var(--color-light);
    font-weight: 900;
}

@media (min-width: 1000px){
    .sertif{
        margin-bottom: 0;
        justify-content: center;
        flex-direction: row-reverse;
    }
    .sertif__picture{
        max-width: 30%;
    }
    .sertif__article{
        max-width: 30%;
    }
    .sertif__article h2{
        margin-top: 5rem;
        font-size: 2rem;
    }
    .sertif__article p{
        margin-top: 1rem;
        font-size: 0.8rem;
    }
    .sertif-reg{
        flex-direction: row;
        justify-content: center;
        margin: auto;
        margin-bottom: 50px;
    }
    .sertif-reg input{
        padding: 26px 20px;
        margin-right: 20px;
    }
    .reg-btn{
        padding: 26px 20px;
    }
}