.thank{
    height: 100vh;
    padding: var(--space-size);
    min-width: 320px;
    background-color: var(--color-main);
    background-image: url(./../bg-images/thank-mb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center bottom;
    color: var(--color-light);
}
.logo{
    display: block;
    width: 50px;
    height: 50px;
    margin-top: 15px;
}
.thank__article{
    display: flex;
    flex-direction: column;
    height: 88vh;
}
.thank__heading{
    margin-top: 30px;
    font-size: 2rem;
    line-height: 1.23;
}
.thank__article p:nth-child(2){
    margin-top: 15px;
    font-size: 0.9rem;
}
.thank__article p:nth-child(3){
    margin-top: 15px;
    font-weight: 600;
}
.thank .btn{
    position: relative;
    min-width: 200px;
    margin-top: auto;
    margin-bottom: 3rem;

    align-self: center;

    background-color: var(--color-light);
    color: var(--color-main);
}
.thank .btn::after{
    position: absolute;
    width: 88%;
    bottom: 65%;
    right: 46%;
    content: url(./../bg-images/arrow.png);
    height: 1px;
    display: block;
}

@media (min-width: 1000px){
    .thank{
        background-image: url(./../bg-images/thank-dt.png);
    }
    br {
        display: none;
    }
    .logo{
        width: 80px;
        height: 80px;
    }
    .thank__article{
        margin-left: 17%;
        width: 42%;
        height: 88vh;
    }
    .thank__heading{
        margin-top: 5rem;
        font-size: 2.6rem;
    }
    .thank__article p:nth-child(2){
        font-size: 0.8rem;
    }
    .thank__article p:nth-child(3){
        font-size: 0.8rem;
    }
    .thank .btn{
        max-width: 400px;
        margin-top: 3rem;
        align-self: start;
        padding-left: 2rem;
    }
}